.shop-div {
  margin: 5% 7rem;
}

.shop-div__grid {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.shop-div__grid-part {
  max-width: 300px;
}

.shop-div img {
  height: 250px;
}
